
<div class="container-fluid align-items-center justify-content-center">
  <div class="row text-center">
    <div class="col" style="object-fit: contain; height: 75vh">
      <img ngSrc="/assets/original-ab1bde6f9c74de5c8961f7fe84990cd4.gif" class="img-fluid" alt="page-not-found" height="500"
           width="500">
      <div class="row justify-content-center">
        <div class="col-3">
          <button [routerLink]="route" class="btn btn-secondary">Back to home page</button>
        </div>
      </div>
    </div>
  </div>
</div>
