<app-navbar></app-navbar>
<div class="container-fluid shadow col-6">
  <div class="mt-5 text-center">
    <h3 class="h3">User Details</h3>
  </div>
  <div class="container">
    <div id="data" class="row ">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-6">
            <div class="input-group">
              <label class="form-label">FirstName:
                <strong>
                  {{ user.firstName }}
                </strong>
              </label>
            </div>
            <div class="input-group">
              <label class="form-label">LastName:
                <strong>
                  {{ user.lastName }}
                </strong>
              </label>
            </div>
            <div class="input-group">
              <label class="form-label">Address:
                <strong>
                  {{ user.address }}
                </strong>
              </label>
            </div>
            <div class="input-group">
              <label class="form-label">Username:
                <strong>
                  {{ user.username }}
                </strong>
              </label>
            </div>
            <div class="input-group">
              <label class="form-label">Email:
                <strong>
                  {{ user.email }}
                </strong>
              </label>
            </div>
            <div class="input-group">
              <label class="form-label">Phone:
                <strong>
                  {{ user.phone }}
                </strong>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center mt-2">
          <button class="btn-primary btn col-3" (click)="navigateToUserDetails()"> Edit Details</button>
        <button class="btn btn-primary col-3 mx-3" (click)="navigateToChangePassword()"> Change Password</button>
      </div>
    </div>
  </div>
  <div class="mt-3 row"></div>
</div>
<div class="container-fluid shadow col-8 mt-3">
  <div class="mt-5 text-center">
    <h2 class="h3">Borrowed Books</h2>
  </div>
  <div>

    @if (borrowedBookList){
    <table class="table table-striped">
      <thead>
      <tr>
        <th>S.No.</th>
        <th>ISBN</th>
        <th>TITLE</th>
        <th>AUTHOR</th>
        <th>OverDue</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
        @for (book of borrowedBookList; track book; let i = $index)
      {
      <tr>
        <th>{{ i + 1 }}</th>
        <td>{{ book.isbn }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.overdue }}</td>
        <td>
          <button class="btn-primary btn" data-bs-target="#modal" data-bs-toggle="modal"
                  (click)="confirmReturn(book)">Return
          </button>
        </td>
      </tr>}
      </tbody>
    </table>
    } @else {
      <h4>No Books Borrowed</h4>
    }
    <app-modal heading="Return Book" body="Are you sure you want to return the book? Title:{{borrowedBook?.title}}"
               buttonText="yes" [button]="true" (buttonClicked)="returnBook(borrowedBook?.isbn)"></app-modal>
    @if (showToast){
    <div style="position: absolute; top: 80px; right: 0; width: 200px; height: 100px;">
    <ngb-toast header="Return Book" [autohide] = true [delay]="3000">{{defaultResponse?.message}}</ngb-toast>
    </div>}
      <div class="mt-3 row">
    </div>
  </div>
</div>
