<app-management-navbar class="position-sticky top-0" style="z-index: 1;"></app-management-navbar>
<div class="container-fluid mt-5">
  <div class="row justify-content-center">
    <div class="col-4 shadow rounded-3">
      <form class="p-3" [formGroup]="addExistingForm" (ngSubmit)="onSubmit()">
        <div class="form-outline mb-4">
          <label class="form-label" for="isbn">ISBN:</label>
          <input type="text" appNoAlphabets appNoSpecialChar [appMaxLength]="13" id="isbn" formControlName="isbn" class="form-control"/>
          <small class="text-danger"
                 *ngIf="isbn?.touched && (isbn?.errors && isbn?.dirty)"
          >isbn should be a whole number of 3 to 13 digits long</small>
        </div>
        <div class="form-outline mb-4">
          <label class="form-label" for="copies">COPIES:</label>
          <input type="text" appNoAlphabets appNoSpecialChar [appMaxLength]="2" id="copies" max="99" formControlName="copies" class="form-control"/>
          <small class="text-danger"
                 *ngIf="copies?.errors && copies?.touched && copies?.dirty"
          >copies should be a whole number of max 2 digits </small>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="addExistingForm.invalid">Submit</button>
        <button type="button" class="btn btn-secondary mx-2" (click)="goBack()" >Go Back</button>

        <button type="button" *ngIf="addExistingForm.dirty" class="btn btn-primary mx-3" (click)="onReset()">Reset</button>

      </form>
      @if (showToast) {
        <ngb-toast class="toast-container position-fixed top-0 end-0 p-3" [delay]="2000"
                   (hidden)="showToast=false">{{ toastMessage }}
        </ngb-toast>
      }
    </div>
  </div>
</div>
