<app-navbar></app-navbar>
<div class="container-fluid shadow col-8">
  <div class="mt-5 text-center">
    <h3 class="h3">User Details</h3>
  </div>
  <div class="container">
    <div id="data" class="row ">
      <div class="col-3">

      </div>
      <div class="col">
        <span class="row">First Name:</span>
        <span class="row">Last Name:</span>
        <span class="row">Address:</span>
        <span class="row">Username:</span>
        <span class="row">Email:</span>
        <span class="row">Phone:</span>
      </div>
      <div class="col">
        <span class="row">{{ user?.firstName }}</span>
        <span class="row">{{ user?.lastName }}</span>
        <span class="row">{{ user?.address }}</span>
        <span class="row">{{ user?.username }}</span>
        <span class="row">{{ user?.email }}</span>
        <span class="row">{{ user?.phone }}</span>
      </div>
    </div>
  </div>
  <div class="mt-3 row"></div>
</div>
<div class="container-fluid shadow col-8 mt-3">
  <div class="mt-5 text-center">
    <h2 class="h3">Borrowed Books</h2>
  </div>
  <div>

    <table class="table table-striped" *ngIf="borrowedBookList">
      <thead>
      <tr>
        <th>S.No.</th>
        <th>ISBN</th>
        <th>TITLE</th>
        <th>AUTHOR</th>
        <th>OverDue</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let book of this.borrowedBookList; index as i">
        <th>{{ i + 1 }}</th>
        <td>{{ book.isbn }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.overdue }}</td>
        <td>
          <button class="btn-primary btn" data-bs-target="#modal" data-bs-toggle="modal"
                  (click)="confirmReturn(book)">Return
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <app-modal heading="Return Book" body="Are you sure you want to return the book? Title:{{borrowedBook?.title}}"
               buttonText="yes" [button]="true" (buttonClicked)="returnBook(borrowedBook?.isbn)"></app-modal>
    <div class="mt-3 row">
    </div>
  </div>
</div>
