<div class="modal" id="remarkModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{ heading }}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div>
          {{ body }}
          <input #input=ngModel class="form-control " type="text" placeholder="REMARK" [(ngModel)]="remark"
                 required>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="onConfirm()"
                [disabled]="input.invalid">Confirm
        </button>
      </div>
    </div>
  </div>
</div>



