<app-management-navbar class="position-sticky top-0" style="z-index: 1;"></app-management-navbar>
<div class="container-fluid mt-5">
  <div class="row justify-content-center ">
    <div class="col-4">
      <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-outline mb-4">
          <label class="form-label" for="currentPassword">Current Password:</label>
          <input type="password" id="currentPassword" formControlName="currentPassword" class="form-control"/>
          <small class="text-danger"
                 *ngIf="currentPassword?.touched && currentPassword?.hasError('required') && !currentPassword?.dirty"
          >Current password is required</small>
        </div>

        <div class="form-outline mb-4">
          <label class="form-label" for="newPassword">New Password:</label>
          <input type="password" id="newPassword" formControlName="newPassword" class="form-control"/>
          <small class="text-danger" *ngIf="newPassword?.touched && newPassword?.hasError('required')"
          >Password is required</small>
          <small class="text-danger input-group" *ngIf="newPassword?.touched && (newPassword?.hasError('minlength') && newPassword?.dirty)"
          >Password must be at least 8 characters long</small>
          <small class="text-danger input-group" *ngIf="newPassword?.touched && (newPassword?.hasError('noSpecialChar') && newPassword?.dirty)"
          >Password must contain at least one special character</small>
          <small class="text-danger input-group" *ngIf="newPassword?.touched && (newPassword?.hasError('noNumber') && newPassword?.dirty)"
          >Password must contain at least one number</small> </div>

        <!--Confirm Password input -->
        <div class="form-outline mb-4">
          <label class="form-label" for="confirmPassword">Confirm Password:</label>
          <input type="password" id="confirmPassword" formControlName="reEnterNewPassword" class="form-control"/>
          <small class="text-danger"
                 *ngIf="reEnterNewPassword?.errors && reEnterNewPassword?.touched && reEnterNewPassword?.dirty"
          >confirm password doesnt match new password</small>
        </div>

        <div class="text-center">
          <button class="btn btn-primary" type="submit" [disabled]="changePasswordForm.invalid">Change</button>
          <button class="btn-primary btn mx-2" (click)="goBack()">Back</button>

        </div>
      </form>
      @if (showToast) {
        <div style="position: absolute; top: 80px; right: 0; width: 200px; height: 100px;">
          <ngb-toast header="Change Password" [autohide]="true" [delay]='3000'>{{ changePasswordMessage }}</ngb-toast>
        </div>
      }
    </div>
  </div>
</div>
