<app-navbar></app-navbar>
<div class="mt-5 container">
  <h2 class="mt-3 text-center">YOUR TRANSACTIONS</h2>
  @if (userTransactions.length>0){
  <table class="table table-striped mt-3" *ngIf="userTransactions.length>0">
    <thead>
    <tr>
      <th>S.No.</th>
      <th>ISBN</th>
      <th>TITLE</th>
      <th>AUTHOR</th>
      <th>ISSUE DATE</th>
      <th>RETURN DATE</th>
      <th>STATUS</th>
    </tr>
    </thead>
    <tbody>
      @for (transaction of userTransactions; track transaction; let i = $index) {
  <tr>
    <th>{{ i + 1 }}</th>
    <td>{{ transaction.isbn }}</td>
    <td>{{ transaction.title }}</td>
    <td>{{ transaction.author }}</td>
    <td>{{ transaction.issuedDate | date:"medium" }}</td>
    @if(transaction.returnDate == undefined){
      <td><strong class="mx-4">N/A</strong></td>
    } @else {
      <td>{{transaction.returnDate | date:"medium"}}</td>
    }
    @if(transaction.returnDate == undefined){
      <td><small class="badge bg-danger">Active</small></td>
    } @else {
      <td><small class="badge bg-success">Completed</small></td>
    }
  </tr>
  }
  </tbody>
</table>
  } @else {
    <h3 class="h3">No transactions yet!</h3>
  }

</div>
